.header{
    text-align: center;
    font-family: serif;
    color: firebrick;
    font-size: 40px;
}

p{
    text-align: center;
    font-family: cursive;
    color: cornflowerblue;
    font-size: 25px;
}

img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

body {
    background-image: url(dark_embroidery.jpg)
}

h4{
    text-align: right;
    font-family: cursive;
    color: cornflowerblue;
}

marquee{
    text-align: left;
}

footer{
    margin-top: 100px;
}

li{
    font-family: cursive;
    color: blue;
    font-size: 20px;
}

#title{
    text-align: center;
    font-family: serif;
    color: darkred;
    font-size: 50px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border: darkred solid 10px;
    width: 700px;
    margin-left: auto;
    margin-right: auto;
}